.leaverequest {
    position: relative;
    padding: 0 30px;
    border: 1px solid #000;
    color: #fafafa;
    background: black;
    user-select: none;
    white-space: nowrap;
    font-family: inherit;
    display: flex;                  // ⬅️ layout fix
    justify-content: center;       // ⬅️ center horizontally
    align-items: center; 
    height: 50px;
   }
   
   .leaverequest:before, .leaverequest:after {
    content: "";
    position: absolute;
    background: black;
   }

   .leaverequest:hover:before, .leaverequest:hover:after {
    content: "";
    position: absolute;
    background: #fafafa;
   }

   .leaverequest:hover {
    color: black;
    background: #fafafa;
   }


   
   .leaverequest:before {
    width: calc(100% + 4px);
    height: calc(100% - 24px);
    top: 12px;
    left: -2px;
   }
   
   .leaverequest:after {
    width: calc(100% - 24px);
    height: calc(100% + 4px);
    top: -2px;
    left: 12px;
   }
   
   .leaverequest:hover {
    cursor: pointer;
    background-color: #fafafa;
    transition: 0.2s linear;
   }
   
   .leaverequest:active {
    transform: scale(0.95);
   }
   
   .leaverequest:hover:before {
    opacity: 0;
    transition: 0.1s linear;
   }
   
   .leaverequest:hover:after {
    opacity: 0;
    transition: 0.1s linear;
   }
   
   .leaverequest span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
  }
  
  .leaverequest:hover span {
    font-size: 16px;
    color: black;
    transition: 0.2s linear;
  }

  .leadform-fullscreen {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;    // align content to the top
    justify-content: center;
    padding-top: 64px;          // space from the top (adjust as needed)
    background: #fafafa;
    min-height: 100vh;         /* min-h-screen */
    display: flex;             /* flex */
    flex-direction: column;    /* flex-col */
    justify-content: center;   /* justify-center (vertical centering) */
    align-items: center;       /* items-center (horizontal centering) */
    width: 100%; 
  }

@media (min-width: 1023px) {
  .leaverequest {
    height: 60px;
    border: 2px solid #000;
  }

  .leaverequest span {
    font-size: 18px;
  }

  .leaverequest:hover span {
    font-size: 20px;
  }

  .field {
    height: 60px;
    font-size: 18px;
    border: 1.5px solid #000;
  }

  .commentfield {
    height: 150px;
    font-size: 18px;
    border: 1.5px solid #000;
  }

  .mainform {
    height: auto;
  }

  .fieldlabel {
    font-size: 18px;
  }

  .spacer {
    height: 100px;
  }
}
  