

.cs-contact-link {
    word-break: break-word;    
    white-space: normal;       
    overflow-wrap: anywhere;   
    max-width: 100vw;          
    box-sizing: border-box; 
}


@media only screen and (min-width: 0rem) {
    #cs-footer-272 {
        padding-bottom: 50px;
        
        
    }
    #cs-footer-272 .cs-container {
        width: 100%;
        
        max-width: 34.375rem;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 5.5rem;
        row-gap: 2rem;
    }
    #cs-footer-272 .cs-logo-group {
        
        width: 100%;
        position: relative;
    }
    #cs-footer-272 .cs-logo {
        
        width: clamp(13.125rem, 8vw, 15rem);
        height: auto;
        display: block;
        
        margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
    }
    #cs-footer-272 .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer-272 .cs-logo-img.dark {
        display: none;
    }
    #cs-footer-272 .cs-text {
        
        font-size: clamp(0.875rem, 2.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 2rem;
        width: 78%;
        
        max-width: 33.75rem;
        color: var(--bodyTextColor);
    }
    #cs-footer-272 .cs-social {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    #cs-footer-272 .cs-social-link {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4e4b66;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
            transform 0.3s,
            background-color 0.3s;
    }
    #cs-footer-272 .cs-social-link:hover {
        background-color: #1a1a1a;
        transform: translateY(-0.1875rem);
    }
    #cs-footer-272 .cs-social-img {
        height: 0.8125rem;
        width: auto;
        display: block;
    }
    #cs-footer-272 .cs-nav {
        padding: 0;
        margin: 0;
    }
    #cs-footer-272 .cs-nav-li {
        list-style: none;
        margin-bottom: 0.3rem;
    }
    #cs-footer-272 .cs-nav-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-272 .cs-header {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        color: var(--bodyTextColor);
        position: relative;
    }
    #cs-footer-272 .cs-header:after {
        content: "";
        width: 2rem;
        height: 0.25rem;
        margin: 1rem auto 1.5rem 0;
        background: black;
        opacity: 1;
        position: relative;
        display: block;
    }
    #cs-footer-272 .cs-nav-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        color: var(--bodyTextColor);
        position: relative;
    }
    #cs-footer-272 .cs-nav-link:before {
        
        content: "";
        width: 0%;
        height: 0.125rem;
        background: var(--bodyTextColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-272 .cs-nav-link:hover:before {
        width: 100%;
    }
    #cs-footer-272 .cs-contact {
        margin: 0;
        padding: 0;
        width: 35%;
    }
    #cs-footer-272 .cs-contact-li {
        list-style: none;
        margin-bottom: 0rem;
    }
    #cs-footer-272 .cs-contact-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-272 .cs-contact-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--bodyTextColor);
        display: inline-block;
    }
    #cs-footer-272 .cs-contact-link:hover {
        text-decoration: underline;
    }
    #cs-footer-272 .cs-address {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }
  }
  
  @media only screen and (min-width: 48rem) {
    #cs-footer-272 .cs-container {
        max-width: 80rem;
        row-gap: 0;
    }
    #cs-footer-272 .cs-contact {
        flex-direction: row;
        justify-content: space-between;
        border-top: none;
    }
    #cs-footer-272 .cs-contact-li {
        margin: 0;
    }
  }
  
  @media only screen and (min-width: 64rem) {
    #cs-footer-272 {
        width: 100%;
        padding: 40px;
        box-shadow: 0 -5px 8px rgba(0,0,0,0.02);
    }

    #cs-footer-272 .cs-container {
        
        align-items: flex-start;
        justify-content:space-between;
        font-size: 18px;
        max-width: 100rem;
        column-gap: 13rem
    }
    #cs-footer-272 .cs-logo-group {
        
        margin-right: auto;
        width: auto;
        max-width: 19.0625rem;
    }
    #cs-footer-272 .cs-text {
        width: 100%;
    }
    #cs-footer-272 .cs-social {
        flex-direction: row;
        position: relative;
        top: auto;
        right: auto;
    }
    #cs-footer-272 .cs-contact {
        width: auto;
    }
    #cs-footer-272 .cs-header:after {
        content: "";
        width: 5rem;
        margin: 10px 0;
        height: 2px;
    }
    
  }
  
  @media only screen and (min-width: 0rem) {
    body.dark-mode #cs-footer-272 {
        background-color: rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #cs-footer-272 .cs-text,
    body.dark-mode #cs-footer-272 .cs-header,
    body.dark-mode #cs-footer-272 .cs-nav-link,
    body.dark-mode #cs-footer-272 .cs-contact-link {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #cs-footer-272 .cs-text:before,
    body.dark-mode #cs-footer-272 .cs-header:before,
    body.dark-mode #cs-footer-272 .cs-nav-link:before,
    body.dark-mode #cs-footer-272 .cs-contact-link:before {
        background-color: var(--bodyTextColorWhite);
    }
    body.dark-mode #cs-footer-272 .cs-copyright {
        color: #b4b2c7;
    }
  }

.logo {
    height: 18px;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lilspacer {
    width: 5px;
}
  
                                