html, body, #root {
    height: 100vw; /* Important for height to propagate down */
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #fafafa;
  }

.modal {
  display: flex;
}