// container-text-flip.scss

.flip-text-container {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: clamp(2rem, 15vw, 10rem);
    font-weight: bold;
    color: black;

  
    @media (min-width: 768px) {
      font-size: 5rem; // md:text-7xl
    }
  
    &.dark {
      background: linear-gradient(to bottom, #374151, #1f2937);
      box-shadow:
        inset 0 -1px #10171e,
        inset 0 0 0 1px hsla(205, 89%, 46%, 0.24),
        0 4px 8px #00000052;
      color: white;
    }
  }
  
  .flip-text {
    display: inline-block;
  }
  